/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.headerTitleWithLogo {
  display: none !important;
}

.homeContainer .button {
  border-color: white;
  color: white;
}

.blockImage img {
  max-height: 200px;
}

.code-language-switcher {
  position: relative;
}
.code-language-switcher code {
  padding-bottom: 4em;
}
.code-language-switcher-buttons {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}
.code-language-switcher-buttons button {
  background: none;
  border: 2px solid #fa2b3a;
  border-radius: 4px;
  margin: 0.5em;
  padding: 0.8em 1.5em;
  outline: none;
  font-weight: bold;
  color: #fa2b3a;
}
.code-language-switcher-buttons button.active {
  background: #fa2b3a;
  color: white;
}
